{% extends "base.html" %}
{% load static %}
{% block crumbs %}
<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li>
                <a href="/index">主页</a>
            </li>
            <li class="active">
                <a class="this-page" href="{% url 'taste_user:search_task' 1%}">定时管理</a>
            </li>
            <li class="active">
                <a class="">编辑定时任务</a>
            </li>
        </ol>
    </div>
</div>
{% endblock %}
{% block body %}
    <div class="row">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">编辑定时任务</h3>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" method="post" action="{% url 'taste_user:edit_task' task_obj.taste_id %}">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">任务名称</label>
                        <div class="col-sm-6">
                            <input type="text" name="task_name" class="form-control" value="{{ task_obj.taste_name }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">选择项目</label>
                        <div class="col-sm-6">
                            <select class="form-control m-b" id="prj_id" name="prj_id" onchange=get_env()>
                                <option value="">请选择项目</option>
                                {% for pro in prj_obj %}
                                    {% if pro.prj_id == task_obj.project.prj_id %}
                                    <option selected value="{{ pro.prj_id }}">{{ pro.prj_name }}</option>
                                    {% else %}
                                    <option value="{{ pro.prj_id }}">{{ pro.prj_name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">选择环境</label>
                        <div class="col-sm-6"><select class="form-control m-b" id="env_id" name="env_id" onclick="get_user()">
                            <option selected value="{{ task_obj.env.env_id }}">{{ task_obj.env.env_name }}</option>
                        </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">任务描述</label>
                        <div class="col-sm-6">
                            <textarea name="description" placeholder="请输入内容" class="form-control" rows="3">{{ task_obj.description }}</textarea>
                        </div>
                    </div>
{#                    <div class="form-group">#}
{#                        <label class="col-sm-2 control-label">选择负责人</label>#}
{#                        <div class="col-sm-6">#}
{#                            <select class="form-control m-b" id="user_id" name="user_name">#}
{#                                <option value="">请选择负责人</option>#}
{#                            </select>#}
{#                        </div>#}
{#                    </div>#}
                    <div class="form-group">
                        <label class="col-sm-2 control-label">开始执行时间</label>
                        <div class="col-sm-6">
                            <input type="text" id="data" autocomplete="off" name="datetimepicker" placeholder="选择日期" class="form-control" value="{{ task_obj.taste_time | date:"Y-m-d:H" }}">
                        </div>
                    </div>
                     <script type="text/javascript">
                            $("#data").empty();
                            var day=new Date();
                            $("#data").datetimepicker({
                                forceParse:0,
                                language:'zh-CN',
                                format:'yyyy-mm-dd:hh',
                                minView: 1,
                                initialDate:new Date(),
                                autoclose:true,
                                todayBtn:true,
                                datesDisabled:[day.getYear()+'-'+(day.getMonth()+1)+'-'+day.getDate(),day.getYear()+'-'+(day.getMonth()+1)+'-'+(day.getDate()+2)]
                            })
                            $("#date").datetimepicker("setDate", new Date() );
                     </script>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">计划列表</label>
                        <a id="plans" onclick="get_plan()" class="btn btn-primary">获取计划</a>
                        <div id="list" class="col-sm-10 col-sm-offset-2">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-6">
                            <button type="submit" class="btn btn-primary">保存</button>
                            <button type="reset" class="btn btn-primary">重置</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>

    </div>

</div>
{% endblock %}
{% block javascript %}
    <script type="application/javascript">

        function get_env(){
            $("#env_id").empty();
            var prj_id = $("#prj_id").val();
            if (prj_id==null){
                alert("请先选择项目");
            }else{
                $.ajax({
                    type:"get",
                    url:"/apitest/find_prj_if",
                    data:{
                        "prj_id":prj_id,
                        "type":"get_env_by_prj_id"
                    },
                    success:function (data){
                        $(data).each(function (i,item){
                            $("#env_id").append("<option value="+item.env_id+">"+item.env_name+"</option>")
                        })
                    },
                    error:function (){
                        alert("获取环境失败！！！")
                    }
                });
            }

        }
        function get_user(){
            $("#user_id").empty();
            var prj_id=$("#prj_id").val();
            if(prj_id==null){
                alert("请先选择项目");
            }else{
                $.ajax({
                    type:"get",
                    url:"/apitest/find_prj_if",
                    data:{
                        "prj_id":prj_id,
                        "type":"get_user_by_prj_id"
                    },
                    success:function (result){
                        $(result).each(function (i,item){
                            $("#user_id").append("<option value="+item.user_id+">"+item.username+"</option>")
                        })
                    },
                    error:function (){
                        alert("获取项目下的负责人失败！！！")
                    }
                })
            }
        }
    function get_plan(){
            $("#list").empty();
            var prj_id=$("#prj_id").val();
            var env_id=$("#env_id").val();
            if(prj_id==null | env_id==null){
                alert("请先选择项目或环境");
            }else{
                $.ajax({
                    type:"get",
                    url: "/apitest/find_prj_if",
                    data: {
                        "prj_id":prj_id,
                        "env_id":env_id,
                        "type":"get_plan_by_prj_env_id"
                    },
                    success:function (data){
                        $(data).each(function (i,item){
                            $("#list").append("<label class='checkbox-inline'><input type='checkbox' name='plan_id' value="+ item.plant_id +">"+ item.plant_name +"</label>")
                        })
                    },
                    error:function(){
                        alert("获取项目下用例失败！！！")
                    }
                });
            }
    }
    </script>
{% endblock %}